<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/form.css">
    <style>
        .container {
            margin-bottom: 50px;
        }
    </style>
    <title>Visita condominio</title>
</head>
<body>


    <div class="container">
        <div class="box">
            <form method="POST" enctype="application/x-www-form-urlencoded">
                <h1>Register</h1>
                <div class="seuDados">
                    <label>Seu nome <i>*</i></label>
                    <div class="inputs email">
                        <input type="text" name="nome" value=""  placeholder="digite seu bloco " required >
                    </div>
                    <label>Bloco <i>*</i></label>
                    <div class="inputs email">
                        <input type="text" name="bloco" value=""  placeholder="digite seu bloco " required >
                    </div>
                    <label>Numero <i>*</i></label>
                    <div class="inputs email">
                        <input type="number" name="numero" value=""  placeholder="digite o numero da sua casa " required >
                    </div>
                </div>
                <div class="dadoVisita">
                    <label>nome do visitante<i>*</i></label>
                    <span>Obs: Caso seja a familia digite os dados de um representante</span>
                    <div class="inputs email">
                        <input type="text" name="nome_visitante" placeholder="digite o nome do visitante" required >               
                    </div>
                    <label>Cpf <i>*</i></label>
                    <div class="inputs email">
                        <input type="number" name="cpf" placeholder="digite seu cpf" maxlength="11" required >               
                    </div>
                    <label>Data e hora<i>*</i></label>
                    <div class="inputs">
                        <input type="date" name="data"  required >               
                    </div>
                    <div class="buttons">
                        <button type="submit">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>