<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/form.css">
    <title>Visita condominio</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <form method="POST" enctype="application/x-www-form-urlencoded">
                <h1>Sign</h1>
                <label>CPF <i>*</i></label>
                <div class="inputs">
                    <input type="number" name="cpf" placeholder="digite somente os numeros"  maxlength="11" required autocomplete="off">
                </div>
                <div class="buttons">
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>